*{
  margin: 0;
  padding: 0;
}

.header-menu{
  background: blue;
  height: 298px;
  top: 3px;
  position: relative;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:  100vw;
  position: fixed;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 10;
}

header img:first-child{
  height: 90px;
  width: 80px;
  cursor: pointer
}
header img:nth-child(2){
  height: 50px;
  height: 25px;
  cursor: pointer;
  margin-left: 280px;
}
header nav input{
  font-size: 1.05rem;
  padding: 14px;
  font-weight: bold;
  cursor: pointer;
  background: white;
  width:  280px;
  border: 4px solid black;
  margin-right: 98px;
}
header nav input:hover{
  background: rgb(96, 188, 87);
  transition: .5s;  
  border: 4px solid rgb(96, 188, 87);;
}

/* SIDENAV */

.sideNav {
  display: flex;
  height: 110%;
  width: 80px;
  position: absolute;
  z-index: 4;
  position: fixed;
  margin-left: 93.6%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.sideNav a:first-child{
  margin-top: 180px;
}
.sideNav img{
  width: 18px;
  height: 18px;
}

.waring{
  border: 7px solid black;
  background: white;
  height: 450px;
  width: 650px;
  margin-left: 25%;
  margin-top: 75px;
  position: absolute;
  z-index: 25;
  position: fixed;
  text-align: center;
  animation: animacao 2.5s;
  visibility: visible;
}
@keyframes animacao {
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.botaoX{
  cursor: pointer;
  display: inline;
  position: absolute;
  top: 0px;
  right: 35px;
}
.waring p:first-child{
  margin-top: 50px;
  font-size: 1.5rem;
  letter-spacing: 7px;
  margin-bottom: 5px;
}
.waring img{
  width: 15px;
  margin-right: 5px;
}
.waring h2{
  letter-spacing: 5px;
}
.waring h1{
  margin-top: 50px;
  font-size: 2.5rem;
  margin-bottom: 30px;
}
.btn1{
  padding: 10px;
  width: 130px;
  border: 5px solid black;
  font-size: 1.1rem;
  background: white;
  font-weight: bold;
  cursor: pointer;
}
.btn1:hover{
  background: rgb(96, 188, 87);
  transition: .5s;  
  border: 4px solid rgb(96, 188, 87);;
}

.menu{
  background: black;
  height: 180px;
  width: 100%;
  position: absolute;
  z-index: 11;
  text-align: center;
  position: fixed;
  visibility: hidden;
}
@keyframes descer {
  from {  
    transform:translateY(-100px)
  }
  to{
    transform:translateY(0px)
  }
}
@keyframes subir {
  from {  
    transform:translateY(0px)
  }
  to{
    transform:translateY(-100px)
  }
}

.menu ul {
  display: flex;
  justify-content: center;
  gap: 90px;
  margin-top: 40px;
}
.menu a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}
.menu a:hover{
  color: brown;
  transition: .5s;
}
.menu h1{
  color: white;
  margin-top: 30px;
  cursor: pointer;
  width: 35px;
  margin-left: auto;
  margin-right: auto;
}

.fecharMenu {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  visibility: hidden;
}
.fecharMenu2 {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 24;
  visibility: visible;
}

main section:nth-child(1){
  display: flex;
  flex-direction: column;
  margin-top: -2px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1105px;
  height: 900px;
  align-content: center;
  border-bottom: 10px solid black;
  background: rgba(100, 100, 100, .1) url(./firstPhoto.jpg);
  background-repeat: no-repeat;
  background-size: 150px 150px;
  background-size: cover;
  background-blend-mode: darken;
  background-attachment:fixed;
}
main section:nth-child(1) h1{
  align-self: center;
  margin-top: 570px;
  font-size: 3.5rem;
  letter-spacing: 10px;
  border-bottom: 1px solid black;

}
main section:nth-child(1) img{
  height: 50px;
  margin-right: 15px;
  margin-left: -20px;

}
main section:nth-child(1) p {
  align-self: center;
  margin-bottom: auto;
  margin-top: 20px;
  font-size: 1.3rem;
  letter-spacing: 5px;
}
main section:nth-child(2){
  margin-top: 70px;
  max-width: 1105px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  line-height: 45px;
}
main section:nth-child(2) p{
  margin-top: 40px;
  font-size: 1.3rem;
}
main section:nth-child(2) a{
  color: rgba(0, 0, 0, .8);
}

main section:nth-child(3){
  font-size: 2.5rem;
  margin-top: 120px;
  max-width: 1105px;
  margin-left: auto;
  margin-right: auto;
}

/* Parte dos Slides */

.slide-item1 img, .slide-item2 img {
  margin-left: auto;
  margin-right: auto;
  max-width: 1105px;
  height: 500px;
  width: 1000px;
  object-fit: cover;
  align-content: center;
  display: block;

}
.slide-item1 h1, .slide-item2 h1, .slide-item3 h1{
  margin-top: 30px;
  font-size: 2.5rem;
  margin-left: 50px;
  max-width: 1105px;
}
.slide-item1 p, .slide-item2 p, .slide-item3 p, .slide-item4 p,
.slide-item5 p, .slide-item6 p, .slide-item7 p{
  margin-left: 50px;
  font-size: 1.3rem;
  margin-top: 10px;
}
.slide-item1 a, .slide-item2 a, .slide-item3 a, .slide-item4 a,
.slide-item5 a, .slide-item6 a, .slide-item7 a{
  color: black;
}
.slide-item3{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 80px 50px;
}
.slide-item3 img{
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1105px;
  width: 450px;
}
.slide-item3 p{
  grid-row: 3/3;
}
.slide-item4, .slide-item5, .slide-item6, .slide-item7 {
  display: grid;
  grid-template-areas: 
  "img titulo"
  "img paragrafo";
}
.slide-item4 img, .slide-item5 img, .slide-item6 img, .slide-item7 img{
  grid-area: img;
  margin-left: auto;
  margin-right: auto;
  max-width: 1105px;
  height: 550px;
  width: 500px;
}
.slide-item4 h1, .slide-item5 h1, .slide-item6 h1, .slide-item7 h1{
  grid-area: titulo;
  margin-top: 200px;
  margin-left: 50px;
}
.slide-item4 p, .slide-item5 p, .slide-item6 p, .slide-item7 p{
  grid-area: paragrafo;
  margin-top: -120px;
  margin-left: 50px;
}

.slide {
  max-width: 1105px;
  margin: 20px auto;
}

.slide-items {
  position: relative;
}

.slide-items>* {
  position: absolute;
  opacity: 0;
  top: 0;
  pointer-events: none;
}

.slide-items>.active {
  opacity: 1;
  pointer-events: initial;
  position: relative;
}
.slide-next {
  background: black;
  border: 1px solid white;
  height: 20px;
  width: 20px;
  color: white;
  position: absolute;
  top: 1900px;
  right: 70px
}
.slide-prev {
  background: black;
  border: 1px solid white;
  height: 20px;
  width: 20px;
  color: white;
  position: absolute;
  top: 1900px;
  left: 70px
}
.slide-prev:hover, .slide-next:hover{
  color: rgba(255, 255, 255, .5);
  cursor: pointer;
}

/* */

section:nth-child(4) {
  display: grid;
  margin-top: 80px;
  max-width: 1190px;
  height: 1050px;
  position: relative;
  grid-template-columns: 626px 300px;
  grid-template-rows: 200px 200px 100px 200px 300px;
}

section:nth-child(4) h1:nth-child(1) {
  grid-column: 2/2;
  grid-row: 1/3;
  background: url(../CR7Parallax/secondPhoto.jpg);
  background-attachment:fixed;
  background-position: 100% -180%;
  background-repeat: no-repeat;
  width: 565px;
  height: 658px;

}
section:nth-child(4) h1:nth-child(2) {
  grid-column: 1;
  grid-row: 4/5;
  background: url(../CR7Parallax/thirdPhoto.jpg);
  width: 497px;
  height: 550px;
  position: absolute;
  background-attachment:fixed;
  background-position: left center;
  background-repeat: no-repeat;
}
section:nth-child(5) {
  display: grid;
  max-width: 1190px;
  height: 1050px;
  grid-template-columns: 590px 300px;
  grid-template-rows: 200px 200px 100px 200px 300px;
  margin-bottom: 80px;
}

section:nth-child(5) h1:nth-child(1) {
  grid-column: 2/2;
  grid-row: 1/3;
  background: url(../CR7Parallax/gif.gif);
  background-attachment:fixed;
  background-position: 90% 85px;
  background-repeat: no-repeat;
  background-size:contain;
  width: 600px;
  height: 550px;

}

.aFormat{
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  font-size: 3rem;
  width: 220px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: 400px;
  color: white;
}
section:nth-child(4) h1:nth-child(2) .aFormat{
  margin-top: 300px;
}
section:nth-child(5) h1:nth-child(1) .aFormat{
  margin-top: 300px;
  margin-left: 100px;
  width: 140px;
}
.aFormat:hover {
  border-bottom: 5px solid white;
}
.aFormat1:hover{
  border-bottom: none;
}
.aFormat1 span:hover{
  border-bottom: 5px solid white;
}

section:nth-child(5) h1:nth-child(2) {
  grid-column: 1;
  grid-row: 3/5;
  background: url(../CR7Parallax/fourtPhoto.jpg);
  background-size: contain;
  background-attachment: fixed;
  background-position: 30px 88px;
  background-repeat: no-repeat;
  width: 400px;
  height: 600px;
  margin-left: 90px;
}

footer{
  background: rgb(17, 17, 17);
  height: 300px;
  color: white;
  text-align: center;
  padding-top: 80px;
}
footer p:nth-child(1){
  font-size: 1.3rem;
}
footer h1{
  font-size: 3.5em;
  letter-spacing: 3px;
  margin-top: 10px;
  margin-bottom: 40px;
}
.Form{
  width: 400px;
  height: 15px;
  padding: 10px;
  border: 3px solid white;
  background: black;
  color: white;
  margin-left: -20px;
  font-size: 1.1rem;
  margin-bottom: 50px;
}
.btn{
  margin-left: 8px;
  width: 100px;
  height: 40px;
  padding: 10px;
  border: none;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
}
footer a{
  color: grey;
  margin-right: 15px;
  font-size: .9rem;
  margin-bottom: 10px;
}
footer p:last-child{
  color: grey;
  margin-top: 10px;
  font-size: .9rem;
}